<div >

    <br>
    <br>
    <div class="container">
      <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../assets/images/ficalogo.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../assets/images/ficalogo.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    </div>

    <footer class="bg-light text-center pt-2" style="background-color: #fff;">

      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 1);">
        <span class="text-light" >
          © 2023 Copyright:
        </span>
            <a class="text-light" href="#!" style="text-decoration: none;">FICA-UTN</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
  </div>
